/*
Login Area
*/
.login{
    /*
    background: url('../images/login-bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
    background-color:#212121;
}

.login_form{
    padding-top:75px;
    text-align: center;
}

.login_social{
    text-align: center;
    padding-top:75px;
}

.login_social li{
    display: inline;
    padding:5px;
    background: #ececec;
}

.login_header{
    text-align: center;
    margin-top:100px;
    color:#fff;
}

.login_stats{
    margin:20px 0;
    text-align: center;
}

.login_slogan{
    font-size:1.1em;
    color:#aaa;
    line-height: 1.6em;
    text-align: center;
}

.logo{
    width:180px;
    min-height: 70px;
    margin:0 auto;
}